#main {
    width: 650px;
    margin: 100px auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 0px 12px 11px 12px;
    background: #697CCA;
}

body {
    background: url(../img/wood.jpg);
    background-size: cover;
}

#controls {
    margin-top: 15px;
    overflow: hidden;
}

#labels h3 {
    float: left;
    width: 100px;
    margin-right: 4px;
    text-align: center;
    font-size: 18px;
    margin-top: 11px;
}

#keyboard, #keyboard ul, #keyboard ul li{
    box-sizing: content-box;
}

#G6 {
    border: 1px solid black !important;
}